* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    /*font-family: monotype-modern-display, sans-serif;

    font-weight: 400;

    font-style: normal;*/
}
::-webkit-scrollbar {
    width: 2vw;
    background-color: black;
}
::-webkit-scrollbar-track {
    background: black;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 50px;
}
.grid {
    display: grid;
}
@import "partials/_header.scss";
@import "partials/_formulario.scss";
@import "partials/_infoproducto.scss";
@import "partials/_catalogoinicio.scss";
@import "partials/_footer.scss";
@import "partials/_mediaqueries.scss";
/*
nav {
    padding: 2%;
}
header {
    background-color: black;
    font-size: 1.8vw;
}
.grid {
    display: grid;
    grid-template-columns: 30% 70%;
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    
}
.header {
    padding: 1vw;
    width: 100%;
    margin: 1em auto;
}

.items {
    width: 100%;
    margin: auto 1.5% auto auto;
}

.items :last-child {
    margin-right: 0;
}
.items a {
    text-decoration: none;
}
.categorias {
    display: inline-block;
    text-decoration: none;
    align-items: center;
}

.contacto {
    display: inline-block;
    text-decoration: none;
}
ul {
    list-style: none;
    position: absolute;
    display: none;
}
li {
    display: inline-block;
    width: 100%;
    margin: 0.5em;
    position: relative;
    display: block;
}
li a {
    color: white;
    text-decoration: none;
}
.categorias:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}
.contacto:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}
.hamburguesa {
    display: none;
}

.publi {
    margin: 2rem auto;
    width: 100%;
}
.catalogo {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;

}
.catalogo img {
    width: 90%;
}
.prod {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    margin: 2rem auto;    
}
.prod a {
    text-decoration: none;
    color: black;
    margin: 1em auto;
}
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 2%;
}
.footer {
    display: flex;
    width: 100%;
}
.logo {
    display: flex;
    width: 50%;
    align-items: center;
}
.logo img {
    width: 50%;
    padding: 2%;
}
.datos {
    width: 100%;
    padding: 2%;
}
.redes {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes p {
    text-align: center;
}
.redes a {
    text-decoration: none;
    color: white;
}
.tm {
    text-align: center;
}
main {
    height: auto;
    margin: 2%;
}
.producto {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.x {
    
    width: auto;
    height: 320px;
}
.x img {
    height: 100%;
    width: auto;
}
@media screen and (max-width:600px) {
    .menu {
        display: none;
    }
    .grid {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .hamburguesa {
        display: block;
        padding: 5vw;
        width: 100%;
        margin: 1em auto;
        width: 75%;
    }
    .header {
        padding: 5vw;
        width: 100%;
        margin: 1em auto;
    }
    .hamburguesa:hover .menu {
        display: flex;
        flex-direction: column;
    }
    
}*/