.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    padding: 2vh;
    align-items: center;
    column-gap: 2vw;
    row-gap: 2vw;
}
.catalogo--flex {
    display: flex;
    flex-wrap: wrap;
    padding: 1vw 2vw;
    justify-content: space-around;
}
.catalogo__precio {
    font-size: 2vw;
    font-weight: bold;
}
.catalogo__comprar {
    font-size: 2vw;
    font-weight: bold;
}
.catalogo__nombre {
    font-size: 2.5vw;
    padding: 0 2vw 1vw;
    font-weight: bold;
}
.catalogo__prod {
    background-color: white;
    border-radius: 1.5vw;
    border-radius: 1.5vh;
    position: relative;
}
.catalogo__prod--img {
    padding: 2vw 2vw 0.5vw;
    width: 100%;
    position: relative;
}
.catalogo__prod--img img {
    display: block;
    width: 100%;
    height: auto;
  }
.catalogo__prod--+info {
  color: white;
  font-size: 1vw;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.catalogo__prod--img:hover .catalogo__prod--aparecer {
    height: 10%;
}
.catalogo__prod--aparecer {
    position: absolute;
    bottom: .5vw;
    left: 2vw;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 87.3%;
    height: 0;
    transition: .5s ease;
    padding: 0 2vw;
    text-align: center;
    justify-content: center;
}
/*.catalogo__prod {
    display: grid;
    grid-template-areas: 
    "img img img"
    "img img img"
    "img img img"
    "prc  buy inf";
    padding: 2vh;
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    font-family: monotype-modern-display, sans-serif;

    font-weight: 800;

    font-style: normal;
    
}
.catalogo__prod img {
    grid-area: img;
    width:90%;
    padding: 1.5vw;
    border-radius: 50px;
}
.catalogo__prod img:hover {
    width: 110%;
    transition: 1s ease;
}

.catalogo__prod a {
    grid-area: inf;
    align-items: center;
    color:black;
    text-decoration: none;
}
p.catalogo__comprar {
    grid-area: buy;
    color:black;
}
p.catalogo__precio {
    grid-area: prc;
    color:black;
}
p.catalogo__comprar:hover {
    font-size: 2.5vw;
    transition: 0.5s ease;
}
.catalogo__prod a:hover {
    font-size: 2.5vw;
    transition: 0.5s ease;
}*/