.header {
    background-color: black;
    grid-template-columns: 30% 70%;
    padding: 1.5vw;
    width: 100%;
    font-size: 1.8vw;
}
.header__hamburguesa {
    display: none;
}
.menu {
    display: flex;
    color: white;
    align-items: center;  
}
.menu__items {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto 1.5% auto auto;
    justify-content: space-around;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu__login {
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-end;
}
.menu__login a {
    text-decoration: none;
    color: white;
}
.menu__categorias {
    display: inline-block;
}
.menu__contacto {
    display: inline-block;
}
.dropspan {
    color: white;
    padding: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .menu__categorias {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .menu__categorias-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2vw;
  }
  
  /* Links inside the dropdown */
  .menu__categorias-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .menu__categorias-content a:hover {
    color: black;  
    background-color:  #f7dcca;}
    .menu__categorias-content a:hover:last-child {
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
  
  /* Show the dropdown menu on hover */
  .menu__categorias:hover .menu__categorias-content {display: block;}
 
  
  /* The container <div> - needed to position the dropdown content */
  .menu__contacto {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .menu__contacto-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2vw;
  }
  
  /* Links inside the dropdown */
  .menu__contacto-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .menu__contacto-content a:hover {
    color: black;  
    background-color:  #f7dcca;}
    .menu__contacto-content a:hover:last-child {
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
  
  /* Show the dropdown menu on hover */
  .menu__contacto:hover .menu__contacto-content {display: block;}
  /* Change the background color of the dropdown button when the dropdown content is shown 
  .menu__categorias:hover .dropspan {background-color: #3e8e41;}*/
/*.menu__categorias ul{
    list-style: none;
}
.menu__contacto ul{
    list-style: none;
}
ul {
    list-style: none;
    position: absolute;
    display: none;
}
li {
    display: inline-block;
    width: 100%;
    margin: 0.5em;
    position: relative;
    display: block;
}
li a {
    color: white;
    text-decoration: none;
}
.menu__categorias:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}
.menu__contacto:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}*/