.banner__contenedor--grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 82.8vw;
    padding: 2vw 0 0 0;
    margin-bottom: 2vw;
}
.banner__contenedor--izq {
    text-align: center;
    background-color: rgb(255, 240, 240);
    height: 72%;
}
.banner__contenedor--der {
    height: 72%;
}
.banner__contenedor--der img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .banner__contenedor--der img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }
  .banner__contenedor--izq-datos {
      padding: 50% 0;
  }
  .banner__contenedor--izq-datos h1 {
      font-size: 5vw;
      padding: 2vw 0;
      margin: 0 15vw;
  }
  button {
      background-color: transparent;
      padding: 1vw;
      border: 1.5px solid black;
  }
  .tarjetas__info--grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      padding-bottom: 2vw;
  }
  .tarjetas__envios {
      background-color: rgb(255, 240, 240);
      width: 25vw;
      height: 8vw;
      padding: 3vw 0;
      text-align: center;
      font-size: 2vw;
  }
  .tarjetas__paymethod {
    @extend .tarjetas__envios;
    padding: 1.9vw 0;
}
.banner__contenedor--btn a {
    text-decoration: none;
    color: black;
}
.tarjetas__nuevos-ingresos--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding-bottom: 2vw;
}