@media screen and (max-width:1023px) {
   
    .catalogo__prod--aparecer-carrito, .catalogo__prod--aparecer-info {
        position: absolute;
        top: 1vw;
        right: 1vw;
        background-color: rgba(255, 240, 240, .9);
        overflow: hidden;
        width: 6vw;
        height: 6vw;
        transition: .5s ease;
        padding: 0 1.5vw;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
    }
    .catalogo__prod--aparecer-info {
        top: 8vw;
    }
    .catalogo__prod--info, .catalogo__prod--alcarrito {
        font-size: 5vw;
        color:rgba(230, 53, 53, 0.8)
    } 
}
@media screen and (max-width:645px) {
    #lateral {
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: right 1s;
    }
    #lateral:target {
        right: 0;
    }
    .menu__items {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        margin: 0;
        width: 100%;
        top: 33vw;
        font-size: 3vw;
    }
    .menu__cerrar {
        display: block;
        color: white;
        font-size: 8vw;
        font-weight: bold;
        padding: 1vw;
    }
    .menu__contacto {
       display: none;
    }
    .menu__contacto--media {
        display: flex;
        padding: 2vw;
    }
    .menu__iconos--font-size {
        font-size: 3.5vw;
    }
    .grid {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .tarjetas__info--grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2vw;
    }
    .tarjetas__envios {
        width: 80%;
        font-size: 3vw;
        font-weight: bold;
    }
    .tarjetas__paymethod {
        width: 80%;
        font-size: 3vw;
        font-weight: bold;
    }
    .colecciones--h1,.destacados--h1 {
        font-size: 4vw;
        font-weight: bold;
    }
    .catalogo__prod--aparecer-carrito, .catalogo__prod--aparecer-info {
        position: absolute;
        top: 1vw;
        right: 1vw;
        background-color: rgba(255, 240, 240, .8);
        overflow: hidden;
        width: 8vw;
        height: 8vw;
        transition: .5s ease;
        padding: 0 1.5vw;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
    }
    .catalogo__prod--aparecer-info {
        top: 10vw;
    }
    .catalogo__prod--info, .catalogo__prod--alcarrito {
        font-size: 7vw;
        color:rgba(230, 53, 53, 0.8)
    }
    .formulario label {
        font-size: 5vw;
    }
    .header__hamburguesa {
        display: block;
        padding: 5vw;
        width: 100%;
        margin: 1em auto;
        width: 75%;
    }
    
    .header__logo {
        padding: 5vw;
        margin: 1em;
    }
    .catalogo {
        grid-template-columns: 50% 50%;
    }
    .catalogo__precio,
    .catalogo__comprar {
        font-size: 3.5vw;
    }
    .catalogo__nombre {
        font-size: 4vw;
    }
    .catalogo__prod--+info {
        font-size: 1.5vw;
    }
    .titulos-contenedor__productos {
        font-size: 3vw;
        font-weight: bold;
    }
    .titulos-contenedor__productos span {
        font-size: 3vw;
        font-weight: bold;
    }
    .producto--mini img {
        padding: 1vw;
    }
    .enCarrito {
        width: 90%;
    }
    .prod--etiquetaCantidad {
        font-size: 2vw;
        font-weight: bold;
    }
    .prod--botonCantidad-minus, .prod--botonCantidad-plus {
        font-size: 3vw;
        font-weight: bold;
    }
    .contenedor__envios-pagos--grid h2 {
        font-size: 4vw;
        font-weight: bold;
    }
    .contenedor__envios-pagos--grid span {
        font-size: 3vw;
        font-weight: bold;
    }
    .contenedor__envios--grid, .contenedor__pagos--grid {
        height: 30vw;
    }
    .monto-total {
        font-size: 4vw;
        font-weight: bold;
    }
    .btnpagar {
        height: 6vw;
        width: 12vw;
        justify-content: center;
        font-size: 3vw;
        font-weight: bold;
    }
    .contenedor--grid {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
        height: max-content;
    }
    .prod__img--grid {
        grid-template-columns: 1fr;
        height: 100vw;
        align-items: center;
        background-color: rgba(255, 240, 240, .8);
    }
    .prod__img--principal {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }
    .prod__nombre {
        font-weight: bold;
        margin-bottom: 3vw;
    }
    .prod__img--principal img {
        width: 90%;
    }
    .prod__img--laterales {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 2vw;
        gap: 1.5vw;
        height: fit-content;
        margin: 0;
    }
    .prod__img--laterales img {
        padding: 0;
    }
    .prod__colores--btn {
        width: 8vw;
        height: 8vw;
    }
    .prod__talles--btn {
        font-size: 3.5vw;
    }
    .cantidad-btncompra--grid {
        grid-template-columns: 1fr;
    }
    .prod__cantidad--grid {
        width: 40vw;
        grid-template-columns: 20% 50% 20%;
        margin-bottom: 3vw;
        padding: 0;
    }
    .prod__comprar {
        display: flex;
        width: 40vw;
        height: 8vw;
    }
    .prod--etiquetaCantidad {
        font-size: 4vw;
        font-weight: bold;
        height: 8vw;
    }
    .prod--botonComprar {
        height: 8vw;
        width: 90%;
        font-size: 3.5vw;

    }
    .footer {
        display: grid;
        grid-template-areas: "dat" "rrss";
        gap: 0vw;
    }
    .footer__logo {
        grid-area: dat;
        display: flex;
        flex-direction: column;
        padding: 1.5vw;
        align-items: center;
    
    }
    .footer__logo img {
        width: 45%;
    }
    .footer__logo__datos {
        justify-content: flex-end;
        display: flex;
        padding: 1.5vw;
        align-items: center;
    }
    .footer__logo__datos p {
        padding: 2vw;
        font-size: 3vw;
    }
    .footer__redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5vw;
        grid-area: rrss;
        color: white;
        justify-content: center;
        font-size: 3vw;
    }
    p.footer__tm {
        font-size: 2.5vw;
    }
}
@media screen and (max-width:350px) {
    .catalogo {
        grid-template-columns: 100%;
    }
}