* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif;
  /*font-family: monotype-modern-display, sans-serif;

    font-weight: 400;

    font-style: normal;*/ }

ion-icon {
  pointer-events: none; }

::-webkit-scrollbar {
  width: 1vw;
  background-color: black; }

::-webkit-scrollbar-track {
  background: black;
  border-radius: 50px; }

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 50px; }

body {
  background-color: #f7dcca; }

.grid {
  display: grid; }

.banner__contenedor--grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 80vw;
  padding: 2vw 0 0 0;
  margin-bottom: 2vw; }

.banner__contenedor--izq {
  text-align: center;
  background-color: #fff0f0;
  height: 72%; }

.banner__contenedor--der {
  height: 72%; }

.banner__contenedor--der img {
  width: 100%;
  height: auto; }

@supports (object-fit: cover) {
  .banner__contenedor--der img {
    height: 100%;
    object-fit: cover;
    object-position: center center; } }

.banner__contenedor--izq-datos {
  padding: 50% 0; }

.banner__contenedor--izq-datos h1 {
  font-size: 5vw;
  padding: 2vw 0;
  margin: 0 15vw; }

button {
  background-color: transparent;
  padding: 1vw;
  border: 1.5px solid black; }

.tarjetas__info--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-bottom: 2vw; }

.tarjetas__envios, .tarjetas__paymethod {
  background-color: #fff0f0;
  width: 25vw;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw; }

.tarjetas__paymethod {
  flex-wrap: wrap;
  text-align: center; }

.banner__contenedor--btn a {
  text-decoration: none;
  color: black; }

.tarjetas__nuevos-ingresos--grid, .tarjetas__filtros--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 0 2vw 2vw; }

.tarjetas__filtros--grid {
  text-align: center; }

.destacados {
  padding: 0 0 2vw; }

.destacados--h1, .colecciones--h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3vw; }

.colecciones {
  padding: 0 0 2vw; }

.header {
  background-color: black;
  grid-template-columns: 30% 70%;
  padding: 2vw;
  width: 100%;
  font-size: 1.8vw; }

.header__hamburguesa {
  display: none; }

.menu, .menu__login {
  display: flex;
  color: white;
  align-items: center; }

.menu__cerrar {
  display: none; }

.menu__items {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto 1.5% auto auto;
  justify-content: space-around; }

.menu a, .menu__login a {
  text-decoration: none;
  color: white;
  padding: 1.5vw; }

.menu__login {
  justify-content: flex-end; }

.menu__login a {
  text-decoration: none;
  color: white; }

.menu__categorias {
  display: inline-block; }

.menu__contacto {
  display: inline-block; }

.menu__contacto--media {
  display: none; }

.dropspan {
  color: white;
  padding: 1.5vw;
  border: none; }

/* The container <div> - needed to position the dropdown content */
.menu__categorias {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.menu__categorias-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2vw; }

/* Links inside the dropdown */
.menu__categorias-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.menu__categorias-content a:hover {
  color: black;
  background-color: #f7dcca; }

.menu__categorias-content a:hover:last-child {
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw; }

/* Show the dropdown menu on hover */
.menu__categorias:hover .menu__categorias-content {
  display: block; }

/* The container <div> - needed to position the dropdown content */
.menu__contacto {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.menu__contacto-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2vw; }

/* Links inside the dropdown */
.menu__contacto-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.menu__contacto-content a:hover {
  color: black;
  background-color: #f7dcca; }

.menu__contacto-content a:hover:last-child {
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw; }

/* Show the dropdown menu on hover */
.menu__contacto:hover .menu__contacto-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown 
  .menu__categorias:hover .dropspan {background-color: #3e8e41;}*/
/*.menu__categorias ul{
    list-style: none;
}
.menu__contacto ul{
    list-style: none;
}
ul {
    list-style: none;
    position: absolute;
    display: none;
}
li {
    display: inline-block;
    width: 100%;
    margin: 0.5em;
    position: relative;
    display: block;
}
li a {
    color: white;
    text-decoration: none;
}
.menu__categorias:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}
.menu__contacto:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}*/
.bg-color--black {
  background-color: black;
  width: 100%;
  padding: 1.5vw;
  margin-top: .15vw; }

.mensaje__bienvenida {
  color: white;
  font-size: 2vw;
  font-weight: 600;
  text-align: center; }

.slide-right {
  -webkit-animation: slide-right 4.5s cubic-bezier(0.6, -2, 0.735, 0.045) 4 alternate backwards;
  animation: slide-right 4.5s cubic-bezier(0.6, -2, 0.735, 0.045) 4 alternate backwards; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*@keyframes mensaje_en_loop {
    0% {}
}*/
.formulario {
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.formulario__boton {
  padding: 1vw;
  border: 0;
  justify-content: center;
  background-color: gainsboro;
  width: 50%;
  text-align: center; }

.formulario__nombre, .formulario__email, .formulario__pass, .formulario__passConfirm {
  padding: 2vw;
  display: flex;
  flex-direction: column; }

.formulario__passConfirm {
  padding: 1vw; }

.formulario label {
  width: auto;
  padding: 2vw;
  border: 0;
  text-align: center;
  font-size: 3vw; }

.formulario input {
  width: auto;
  height: 5vw;
  background-color: gainsboro;
  border: 0;
  padding: 2vw;
  text-align: center; }

.contenedor--grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  padding: 2vw 2vw; }

.prod__img--grid img {
  width: 100%; }

.prod__img--grid {
  display: grid;
  grid-template-columns: 1fr 3fr; }

.prod__img--laterales {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 2vw;
  width: 100%; }

.prod__img--laterales img {
  padding: 0 2vw 2vw 0; }

.prod__img--principal {
  width: 100%; }

.prod__detalles {
  width: 100%;
  padding: 2vw 2vw; }

.prod__nombre, .prod__detalle, .prod__precio, .prod__colores--grid, .prod__talles--grid {
  margin-bottom: 2vw; }

.cantidad-btncompra--grid {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.prod__cantidad--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-right: 2vw; }

.prod--etiquetaCantidad {
  width: 100%;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5vw;
  font-weight: bold;
  font-size: 1.5vw; }

.prod__colores--btn, .prod__talles--btn, .prod--botonCantidad-minus, .prod--botonCantidad-plus {
  width: 3.5vw;
  height: 3.5vw; }

.prod__talles--btn, .prod--botonCantidad-minus, .prod--botonCantidad-plus {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw; }

.btncolor {
  position: relative;
  display: inline-flex; }

.btncolor button {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.btncolor::before,
.btncolor::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 3px);
  visibility: hidden;
  transition: transform .5s; }

.btncolor::before {
  top: -10px;
  border: 5px solid transparent;
  border-top: 5px solid #000; }

.btncolor::after {
  content: attr(data-tooltip);
  top: -30px;
  padding: 2px 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: #000; }

.btncolor:hover::before,
.btncolor:hover::after {
  transform: translate(-50%, 0);
  visibility: visible; }

.prod__talles--btn, .prod--botonCantidad-minus, .prod--botonCantidad-plus {
  background-color: rgba(255, 240, 240, 0.8); }

.prod--botonComprar {
  background-color: rgba(255, 240, 240, 0.8);
  height: 3.5vw; }

.prod--red {
  background-color: red; }

.prod--yellow {
  background-color: yellow; }

.prod--blue {
  background-color: blue; }

.prod--white {
  background-color: white; }

.prod--black {
  background-color: black; }

.prod--botonComprar {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center; }

/*.prod__info {
    display: grid;
    grid-template-areas: 
    "img col"
    "img col"
    "img tal"
    "img tal"
    "img buy"
    "img buy"
    "tit tit"
    "desc desc"
    "prc prc";
    grid-template-columns: 50% 50%;
}
.prod__img {
    width: 100%;
    grid-area: img;
    padding: 2vw;
}
.prod__img img {
    width: 100%;
}
.prod__colores {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10% 10% 10% 10%;
    gap: 2%;
    grid-area: col;
    padding: 2vw;
    align-items: center;
}
.prod__talles {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10% 10% 10% 10%;
    gap: 2%;
    grid-area: tal;
    padding: 2vw;
    align-items: center;
}
.prod__talles a {
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.prod--botonComprar {
    width: 15vw;
    height: 5vw;
    border-radius: 25%;
    border: none;
    padding: 2vw;
    grid-area: buy;
}
.prod--red {
    background-color: red;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--yellow {
    background-color: yellow;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--blue {
    background-color: blue;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--white {
    background-color: white;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--black {
    background-color: black;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod__carrito {
    grid-area: buy;
}*/
.tarjetas__catalogo--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 0 2vw 2vw; }

.catalogo__tarjeta {
  padding: 0 1vw 2vw; }

.catalogo--flex {
  display: flex;
  flex-wrap: wrap;
  padding: .5vw 2vw;
  justify-content: space-around;
  margin-bottom: 1vw; }

.catalogo__precio {
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 2vw; }

.catalogo__nombre {
  font-size: 1.5vw;
  font-weight: 600; }

a {
  text-decoration: none;
  color: black; }

.catalogo__prod {
  background-color: rgba(255, 240, 240, 0.8);
  border-radius: 1.5vw;
  border-radius: 1.5vh;
  position: relative;
  border: 0.5px solid #fff0f0; }

.catalogo__prod--img {
  width: 100%;
  position: relative; }

.catalogo__prod--img img {
  display: block;
  width: 100%;
  height: auto; }

.catalogo__prod--info, .catalogo__prod--alcarrito {
  color: black;
  font-size: 2vw;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  text-align: center; }

.catalogo__prod--img:hover .catalogo__prod--aparecer-carrito, .catalogo__prod--img:hover .catalogo__prod--aparecer-info {
  height: 3vw; }

.catalogo__prod--img:hover .catalogo__prod--aparecer-info {
  height: 3vw; }

.catalogo__prod--aparecer-carrito, .catalogo__prod--aparecer-info {
  position: absolute;
  top: .5vw;
  right: .5vw;
  background-color: rgba(255, 240, 240, 0.7);
  overflow: hidden;
  width: 10%;
  height: 0;
  transition: .5s ease;
  padding: 0 1.5vw;
  text-align: center;
  justify-content: center; }

.catalogo__prod--aparecer-info {
  top: 4vw; }

.catalogo__prod--aparecer-carrito:hover, .catalogo__prod--aparecer-info:hover {
  background-color: #fff0f0; }

.banner {
  padding: 2vw 0; }

/*.catalogo__prod {
    display: grid;
    grid-template-areas: 
    "img img img"
    "img img img"
    "img img img"
    "prc  buy inf";
    padding: 2vh;
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    font-family: monotype-modern-display, sans-serif;

    font-weight: 800;

    font-style: normal;
    
}
.catalogo__prod img {
    grid-area: img;
    width:90%;
    padding: 1.5vw;
    border-radius: 50px;
}
.catalogo__prod img:hover {
    width: 110%;
    transition: 1s ease;
}

.catalogo__prod a {
    grid-area: inf;
    align-items: center;
    color:black;
    text-decoration: none;
}
p.catalogo__comprar {
    grid-area: buy;
    color:black;
}
p.catalogo__precio {
    grid-area: prc;
    color:black;
}
p.catalogo__comprar:hover {
    font-size: 2.5vw;
    transition: 0.5s ease;
}
.catalogo__prod a:hover {
    font-size: 2.5vw;
    transition: 0.5s ease;
}*/
.contenedor__productos--grid {
  display: grid;
  padding: 2vw 2vw;
  grid-template-rows: 1fr 2fr;
  height: 20vw; }

.contenedor__productos--grid span {
  font-size: 2vw; }

.titulos-contenedor__productos, .contenido-contenedor__productos--grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid black; }

.producto--mini {
  display: flex;
  align-items: center; }

.producto--mini img {
  width: 100%; }

.producto--mini-enlace {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%; }

.detalle-producto--mini {
  display: flex;
  align-items: center;
  padding-left: 2vw;
  height: 1fr; }

.enCarrito {
  width: 100%; }

.contenedor__envios-pagos--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4vw;
  padding: 2vw; }

.contenedor__envios--grid, .contenedor__pagos--grid {
  display: grid;
  grid-template-rows: 1fr 2fr;
  width: 100%;
  height: 20vw;
  border: 1px solid black; }

.contenedor__envios-pagos--grid span {
  font-size: 2vw; }

.nombre-contenedor__envios, .nombre-contenedor__pagos {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  font-size: 2vw; }

.info__envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw; }

.local, .envios {
  margin-bottom: 2vw; }

.icono__envios {
  font-size: 2vw; }

.contenedor__pagos--grid {
  grid-template-rows: repeat(3, 1fr); }

.nombre-contenedor__pagos {
  justify-content: center;
  padding-left: 0; }

.monto-total {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw; }

.contenedor__pagos--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black; }

.btnpagar {
  display: flex;
  align-items: center;
  height: 4vw;
  font-size: 2vw; }

footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 2%; }

.footer {
  display: grid;
  grid-template-areas: "dat rrss";
  gap: 10vw; }

.footer__logo {
  grid-area: dat;
  display: flex;
  padding: 1.5vw 0 1.5vw 1.5vw;
  margin-right: 1.5vw;
  align-items: center;
  gap: 2vw; }

.footer__logo__datos {
  justify-content: flex-end;
  padding: 1.5vw 1.5vw 1.5vw 0;
  margin-left: 1.5vw;
  align-items: center; }

.footer__logo__datos p {
  padding: 0.5vw; }

.footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vw;
  grid-area: rrss;
  color: white;
  justify-content: center; }

.footer__redes__iconos a {
  text-decoration: none;
  color: white;
  padding: 1.5vw; }

.footer__redes p {
  justify-self: center; }

.footer__redes__iconos {
  padding: 2vw; }

p.footer__tm {
  text-align: center;
  padding: 1.5vw; }

.footer__iconos--font-size {
  font-size: 4vw; }

@media screen and (max-width: 1023px) {
  .catalogo__prod--aparecer-carrito, .catalogo__prod--aparecer-info, .catalogo__prod--aparecer-info {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: rgba(255, 240, 240, 0.9);
    overflow: hidden;
    width: 6vw;
    height: 6vw;
    transition: .5s ease;
    padding: 0 1.5vw;
    text-align: center;
    justify-content: center;
    border-radius: 5px; }
  .catalogo__prod--aparecer-info {
    top: 8vw; }
  .catalogo__prod--info, .catalogo__prod--alcarrito, .catalogo__prod--alcarrito {
    font-size: 5vw;
    color: rgba(230, 53, 53, 0.8); } }

@media screen and (max-width: 645px) {
  #lateral {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right 1s; }
  #lateral:target {
    right: 0; }
  .menu__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    width: 100%;
    top: 33vw;
    font-size: 3vw; }
  .menu__cerrar {
    display: block;
    color: white;
    font-size: 8vw;
    font-weight: bold;
    padding: 1vw; }
  .menu__contacto {
    display: none; }
  .menu__contacto--media {
    display: flex;
    padding: 2vw; }
  .menu__iconos--font-size {
    font-size: 3.5vw; }
  .grid {
    display: grid;
    grid-template-columns: 70% 30%; }
  .tarjetas__info--grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2vw; }
  .tarjetas__envios, .tarjetas__paymethod {
    width: 80%;
    font-size: 3vw;
    font-weight: bold; }
  .tarjetas__paymethod {
    width: 80%;
    font-size: 3vw;
    font-weight: bold; }
  .colecciones--h1, .destacados--h1, .colecciones--h1 {
    font-size: 4vw;
    font-weight: bold; }
  .catalogo__prod--aparecer-carrito, .catalogo__prod--aparecer-info, .catalogo__prod--aparecer-info {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: rgba(255, 240, 240, 0.9);
    overflow: hidden;
    width: 15vw;
    height: 15vw;
    transition: .5s ease;
    padding: 0 1.5vw;
    text-align: center;
    justify-content: center;
    border-radius: 5px; }
  .catalogo__prod--aparecer-info {
    top: 17vw; }
  .catalogo__prod--info, .catalogo__prod--alcarrito, .catalogo__prod--alcarrito {
    font-size: 7vw;
    color: rgba(230, 53, 53, 0.8); }
  .formulario label {
    font-size: 5vw; }
  .header__hamburguesa {
    display: block;
    padding: 5vw;
    width: 100%;
    margin: 1em auto;
    width: 75%; }
  .header__logo {
    padding: 5vw;
    margin: 1em; }
  .catalogo {
    grid-template-columns: 50% 50%; }
  .catalogo__precio,
  .catalogo__comprar {
    font-size: 3.5vw; }
  .catalogo__nombre {
    font-size: 4vw; }
  .catalogo__prod-- + info {
    font-size: 1.5vw; }
  .titulos-contenedor__productos, .contenido-contenedor__productos--grid {
    font-size: 3vw;
    font-weight: bold; }
  .titulos-contenedor__productos span, .contenido-contenedor__productos--grid span {
    font-size: 3vw;
    font-weight: bold; }
  .producto--mini img {
    padding: 1vw; }
  .enCarrito {
    width: 90%; }
  .prod--etiquetaCantidad {
    font-size: 2vw;
    font-weight: bold; }
  .prod--botonCantidad-minus, .prod--botonCantidad-plus {
    font-size: 3vw;
    font-weight: bold; }
  .contenedor__envios-pagos--grid h2 {
    font-size: 4vw;
    font-weight: bold; }
  .contenedor__envios-pagos--grid span {
    font-size: 3vw;
    font-weight: bold; }
  .contenedor__envios--grid, .contenedor__pagos--grid, .contenedor__pagos--grid {
    height: 30vw; }
  .monto-total {
    font-size: 4vw;
    font-weight: bold; }
  .btnpagar {
    height: 6vw;
    width: 12vw;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold; }
  .footer {
    display: grid;
    grid-template-areas: "dat" "rrss";
    gap: 0vw; }
  .footer__logo {
    grid-area: dat;
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    align-items: center; }
  .footer__logo img {
    width: 45%; }
  .footer__logo__datos {
    justify-content: flex-end;
    display: flex;
    padding: 1.5vw;
    align-items: center; }
  .footer__logo__datos p {
    padding: 2vw;
    font-size: 3vw; }
  .footer__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5vw;
    grid-area: rrss;
    color: white;
    justify-content: center;
    font-size: 3vw; }
  p.footer__tm {
    font-size: 2.5vw; } }

@media screen and (max-width: 350px) {
  .catalogo {
    grid-template-columns: 100%; } }
