* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif;
  /*font-family: monotype-modern-display, sans-serif;

    font-weight: 400;

    font-style: normal;*/ }

::-webkit-scrollbar {
  width: 1vw;
  background-color: black; }

::-webkit-scrollbar-track {
  background: black;
  border-radius: 50px; }

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 50px; }

body {
  background-color: #f7dcca; }

.grid {
  display: grid; }

.banner__contenedor--grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 82.8vw;
  padding: 2vw 0 0 0;
  margin-bottom: 2vw; }

.banner__contenedor--izq {
  text-align: center;
  background-color: #fff0f0;
  height: 75%; }

.banner__contenedor--der {
  height: 75%; }

.banner__contenedor--der img {
  width: 100%;
  height: auto; }

@supports (object-fit: cover) {
  .banner__contenedor--der img {
    height: 75%;
    object-fit: cover;
    object-position: center center; } }

.banner__contenedor--izq-datos {
  padding: 50% 0; }

.banner__contenedor--izq-datos h1 {
  font-size: 5vw;
  padding: 2vw 0;
  margin: 0 15vw; }

button {
  background-color: transparent;
  padding: 1vw;
  border: 1.5px solid black; }

.tarjetas__info--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-bottom: 2vw; }

.tarjetas__envios, .tarjetas__paymethod {
  background-color: #fff0f0;
  width: 25vw;
  height: 8vw;
  padding: 3vw 0;
  text-align: center;
  font-size: 2vw; }

.tarjetas__paymethod {
  padding: 1.9vw 0; }

.banner__contenedor--btn a {
  text-decoration: none;
  color: black; }

.tarjetas__nuevos-ingresos--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; }

.header {
  background-color: black;
  grid-template-columns: 30% 70%;
  padding: 2vw;
  width: 100%;
  font-size: 1.8vw; }

.header__hamburguesa {
  display: none; }

.menu, .menu__login {
  display: flex;
  color: white;
  align-items: center; }

.menu__items {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto 1.5% auto auto;
  justify-content: space-around; }

.menu a, .menu__login a {
  text-decoration: none;
  color: white;
  padding: 1.5vw; }

.menu__login {
  justify-content: flex-end; }

.menu__login a {
  text-decoration: none;
  color: white; }

.menu__categorias {
  display: inline-block; }

.menu__contacto {
  display: inline-block; }

.dropspan {
  color: white;
  padding: 1.5vw;
  border: none; }

/* The container <div> - needed to position the dropdown content */
.menu__categorias {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.menu__categorias-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2vw; }

/* Links inside the dropdown */
.menu__categorias-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.menu__categorias-content a:hover {
  color: black;
  background-color: #f7dcca; }

.menu__categorias-content a:hover:last-child {
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw; }

/* Show the dropdown menu on hover */
.menu__categorias:hover .menu__categorias-content {
  display: block; }

/* The container <div> - needed to position the dropdown content */
.menu__contacto {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.menu__contacto-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2vw; }

/* Links inside the dropdown */
.menu__contacto-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.menu__contacto-content a:hover {
  color: black;
  background-color: #f7dcca; }

.menu__contacto-content a:hover:last-child {
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw; }

/* Show the dropdown menu on hover */
.menu__contacto:hover .menu__contacto-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown 
  .menu__categorias:hover .dropspan {background-color: #3e8e41;}*/
/*.menu__categorias ul{
    list-style: none;
}
.menu__contacto ul{
    list-style: none;
}
ul {
    list-style: none;
    position: absolute;
    display: none;
}
li {
    display: inline-block;
    width: 100%;
    margin: 0.5em;
    position: relative;
    display: block;
}
li a {
    color: white;
    text-decoration: none;
}
.menu__categorias:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}
.menu__contacto:hover ul {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
}*/
.bg-color--black {
  background-color: black;
  width: 100%;
  padding: 1.5vw;
  margin-top: .15vw; }

.mensaje__bienvenida {
  color: white;
  font-size: 2vw;
  font-weight: 600;
  text-align: center; }

.slide-right {
  -webkit-animation: slide-right 4.5s cubic-bezier(0.6, -2, 0.735, 0.045) 4 alternate backwards;
  animation: slide-right 4.5s cubic-bezier(0.6, -2, 0.735, 0.045) 4 alternate backwards; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*@keyframes mensaje_en_loop {
    0% {}
}*/
.formulario {
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.formulario__boton {
  padding: 1vw;
  border: 0;
  justify-content: center;
  background-color: gainsboro;
  width: 50%;
  text-align: center; }

.formulario__nombre, .formulario__email, .formulario__pass, .formulario__passConfirm {
  padding: 2vw;
  display: flex;
  flex-direction: column; }

.formulario__passConfirm {
  padding: 1vw; }

.formulario label {
  width: auto;
  padding: 2vw;
  border: 0;
  text-align: center;
  font-size: 3vw; }

.formulario input {
  width: auto;
  height: 5vw;
  background-color: gainsboro;
  border: 0;
  padding: 2vw;
  text-align: center; }

@keyframes tonext {
  75% {
    left: 0; }
  95% {
    left: 100%; }
  98% {
    left: 100%; }
  99% {
    left: 0; } }

@keyframes tostart {
  75% {
    left: 0; }
  95% {
    left: -300%; }
  98% {
    left: -300%; }
  99% {
    left: 0; } }

@keyframes snap {
  96% {
    scroll-snap-align: center; }
  97% {
    scroll-snap-align: none; }
  99% {
    scroll-snap-align: none; }
  100% {
    scroll-snap-align: center; } }

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px; }

/*
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }*/
ol, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px; }

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; }

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item; }

.carousel__slide:nth-child(even) {
  background-color: #99f; }

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em; }

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center; }

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite; }
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap; } }

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none; } }

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none; }

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center; }

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block; }

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s; }

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0; }

.carousel::before,
.carousel__prev {
  left: -1rem; }

.carousel::after,
.carousel__next {
  right: -1rem; }

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none; }

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E"); }

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E"); }

.prod__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  padding: 2vw;
  column-gap: 10%;
  background-color: white; }

/*.prod__info {
    display: grid;
    grid-template-areas: 
    "img col"
    "img col"
    "img tal"
    "img tal"
    "img buy"
    "img buy"
    "tit tit"
    "desc desc"
    "prc prc";
    grid-template-columns: 50% 50%;
}
.prod__img {
    width: 100%;
    grid-area: img;
    padding: 2vw;
}
.prod__img img {
    width: 100%;
}
.prod__colores {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10% 10% 10% 10%;
    gap: 2%;
    grid-area: col;
    padding: 2vw;
    align-items: center;
}
.prod__talles {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10% 10% 10% 10%;
    gap: 2%;
    grid-area: tal;
    padding: 2vw;
    align-items: center;
}
.prod__talles a {
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.prod--botonComprar {
    width: 15vw;
    height: 5vw;
    border-radius: 25%;
    border: none;
    padding: 2vw;
    grid-area: buy;
}
.prod--red {
    background-color: red;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--yellow {
    background-color: yellow;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--blue {
    background-color: blue;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--white {
    background-color: white;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod--black {
    background-color: black;
    border: 0.1vw solid black;
    border-radius: 100%;
    height: 5vw;
}
.prod__carrito {
    grid-area: buy;
}*/
.catalogo {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  padding: 2vh;
  align-items: center;
  column-gap: 2vw;
  row-gap: 2vw; }

.catalogo--flex {
  display: flex;
  flex-wrap: wrap;
  padding: 1vw 2vw;
  justify-content: space-around; }

.catalogo__precio {
  font-size: 2vw;
  font-weight: bold; }

.catalogo__comprar {
  font-size: 2vw;
  font-weight: bold; }

.catalogo__nombre {
  font-size: 2.5vw;
  padding: 0 2vw 1vw;
  font-weight: bold; }

a {
  text-decoration: none;
  color: black; }

.catalogo__prod {
  background-color: white;
  border-radius: 1.5vw;
  border-radius: 1.5vh;
  position: relative; }

.catalogo__prod--img {
  padding: 2vw 2vw 0.5vw;
  width: 100%;
  position: relative; }

.catalogo__prod--img img {
  display: block;
  width: 100%;
  height: auto; }

.catalogo__prod-- + info {
  color: white;
  font-size: 1vw;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.catalogo__prod--img:hover .catalogo__prod--aparecer {
  height: 10%; }

.catalogo__prod--aparecer {
  position: absolute;
  bottom: .5vw;
  left: 2vw;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 87.3%;
  height: 0;
  transition: .5s ease;
  padding: 0 2vw;
  text-align: center;
  justify-content: center; }

/*.catalogo__prod {
    display: grid;
    grid-template-areas: 
    "img img img"
    "img img img"
    "img img img"
    "prc  buy inf";
    padding: 2vh;
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    font-family: monotype-modern-display, sans-serif;

    font-weight: 800;

    font-style: normal;
    
}
.catalogo__prod img {
    grid-area: img;
    width:90%;
    padding: 1.5vw;
    border-radius: 50px;
}
.catalogo__prod img:hover {
    width: 110%;
    transition: 1s ease;
}

.catalogo__prod a {
    grid-area: inf;
    align-items: center;
    color:black;
    text-decoration: none;
}
p.catalogo__comprar {
    grid-area: buy;
    color:black;
}
p.catalogo__precio {
    grid-area: prc;
    color:black;
}
p.catalogo__comprar:hover {
    font-size: 2.5vw;
    transition: 0.5s ease;
}
.catalogo__prod a:hover {
    font-size: 2.5vw;
    transition: 0.5s ease;
}*/
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 2%; }

.footer {
  display: grid;
  grid-template-areas: "dat rrss";
  gap: 10vw; }

.footer__logo {
  grid-area: dat;
  display: flex;
  padding: 1.5vw 0 1.5vw 1.5vw;
  margin-right: 1.5vw;
  align-items: center;
  gap: 2vw; }

.footer__logo__datos {
  justify-content: flex-end;
  padding: 1.5vw 1.5vw 1.5vw 0;
  margin-left: 1.5vw;
  align-items: center; }

.footer__logo__datos p {
  padding: 0.5vw; }

.footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vw;
  grid-area: rrss;
  color: white;
  justify-content: center; }

.footer__redes__iconos a {
  text-decoration: none;
  color: white;
  padding: 1.5vw; }

.footer__redes p {
  justify-self: center; }

.footer__redes__iconos {
  padding: 2vw; }

p.footer__tm {
  text-align: center;
  padding: 1.5vw; }

@media screen and (max-width: 650px) {
  .menu, .menu__login {
    display: none; }
  .grid {
    display: grid;
    grid-template-columns: 70% 30%; }
  .menu__login {
    display: none; }
  .formulario label {
    font-size: 5vw; }
  .header__hamburguesa {
    display: block;
    padding: 5vw;
    width: 100%;
    margin: 1em auto;
    width: 75%; }
  .header__logo {
    padding: 5vw;
    margin: 1em; }
  .catalogo {
    grid-template-columns: 50% 50%; }
  .catalogo__precio,
  .catalogo__comprar {
    font-size: 2.5vw; }
  .catalogo__nombre {
    font-size: 3vw; }
  .catalogo__prod-- + info {
    font-size: 1.5vw; }
  .footer {
    display: grid;
    grid-template-areas: "dat" "rrss";
    gap: 0vw; }
  .footer__logo {
    grid-area: dat;
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    align-items: center; }
  .footer__logo img {
    width: 45%; }
  .footer__logo__datos {
    justify-content: flex-end;
    display: flex;
    padding: 1.5vw;
    align-items: center; }
  .footer__logo__datos p {
    padding: 2vw;
    font-size: 3vw; }
  .footer__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5vw;
    grid-area: rrss;
    color: white;
    justify-content: center;
    font-size: 3vw; }
  p.footer__tm {
    font-size: 2.5vw; } }

@media screen and (max-width: 350px) {
  .catalogo {
    grid-template-columns: 100%; } }
